
.wrapper {
    --blog-width: 800px;

    min-height: 100%;
    padding: 20px 20px;
    width: var(--blog-width);
    max-width: 100%;
    position: relative;
}

.header {
    margin: 0 80px -40px 20px;
    background-color: var(--color-bg-alt);
    z-index: 12;
    width: fit-content;
    position:relative
}

.body {
    padding-top: 50px;
    margin-bottom: 100px;
    overflow-wrap: break-word;
    overflow: hidden;
    z-index: 0;
    position:relative
}

.body > * {
    margin-bottom: 1rem;
}

.author {
    display: flex;
    font-size: .9rem;
}

.authorLink {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: baseline;
    font: var(--font-brand);
    font-weight: 700;
}

.authorImage {
    margin-left: 2px;
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.tocParent {
    --toc-width: 300px;
    --toc-overlap: 60px;

    display: none;
    position: absolute;
    top: 200px;
    right: calc((var(--toc-width) - var(--toc-overlap)) * -1);
    height: 100%;
}

.toc {
    position: sticky;
    display: flex;
    flex-direction: column;
    max-width: var(--toc-width);
    top: 40px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    z-index: 1;
    left: 0;
    background-color: var(--color-bg-alt);
}

@media (min-width: 1050px) {
    .wrapper:has(.tocParent) {
        margin-right: 260px;
    }

    .wrapper:has(.tocParent) > .body {
        padding-right: 50px;
    }

    .tocParent {
        display: block;
    }
}