@layer component, implementation;

:root {
    --color-primary: #ce6749;
    --color-primary-alt: #d47a60;
    --color-background: #1A1B1E;
    --color-background-secondary: #141517;
    --color-text: #fff;

    --border-radius: 8px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

html {
    background-color: var(--color-background);
    color: var(--color-text);
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-brand);
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-primary-alt);
}