
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
  padding-top: 2.5em;
}

.name {
  font-size: 2em;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.logo {
  position: absolute;
  width: 80px;
  padding: 10px;
  height: 80px;
  object-fit: contain;
  top: -50px;
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.socials {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  gap: 1em;
}

.socials svg {
  width: 2em;
  height: 2em;
  color: var(--color-text);
  transition: color 0.1s ease-in;
}

.socials svg:hover {
  color: var(--color-primary);
}